<!--advanced search form-->
<form class="navbar-form form-inline pull-right pull-none-sm navbar-item v-m" role="search">
    <a href class="nav-link dropdown-toggle" data-toggle="dropdown">
        <span class="nav-text">{{"search"|translate}}&nbsp;<i class="fa fa-search"></i></span>
    </a>
    <div class="dropdown-menu pull-down p-a w-full text-color text-primary-hover">
        <div class="row text-center">

            <div class="form-group">
                <label class="form-control-label" for="exampleInputPassword2">{{"category"|translate}}</label>
                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="{{'category'|translate}}">
            </div>
            <div class="form-group">
                <label class="form-control-label" for="exampleInputPassword2">{{"keyword"|translate}}</label>
                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="{{'keyword'|translate}}">
            </div>

            <button type="submit" class="btn white"><i class="fa fa-search"></i></button>
        </div>
    </div>
</form>
<!-- search form -->
<!--<form class="navbar-form form-inline pull-right pull-none-sm navbar-item v-m" role="search">-->

  <!--<div class="form-group l-h m-a-0">-->
    <!--<div class="input-group input-group-sm">-->
      <!--<input type="text" class="form-control p-x b-a rounded" placeholder="{{'searchline'|translate}}">-->
      <!--<span class="input-group-btn">-->
        <!--<button type="submit" class="btn white b-a rounded no-b-l no-shadow"><i class="fa fa-search"></i></button>-->
      <!--</span>-->
    <!--</div>-->
  <!--</div>-->
<!--</form>-->
<!-- / search form -->
