    <div class="footer dk">
        <div class="text-center container p-y-lg">
            <div class="clearfix text-lg m-t">
                <strong>Flatkit</strong> web ui kit for your next project
            </div>
            <div class="nav m-y text-primary-hover">
                <a class="nav-link m-x" href="#demos" ui-scroll-to="demos" >
                    <span class="nav-text">Demos</span>
                </a>
                <a class="nav-link m-x" href="#features" ui-scroll-to="features" >
                    <span class="nav-text">Features</span>
                </a>
                <a class="nav-link m-x" href="http://themeforest.net/user/flatfull/portfolio?ref=flatfull">
                    <span class="nav-text">Support</span>
                </a>
                <a class="nav-link m-x" href="lib/#/app/docs">
                    <span class="nav-text">Documentation</span>
                </a>
            </div>
            <div class="block clearfix">
                <a href class="btn btn-icon btn-social rounded btn-sm m-r">
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-twitter light-blue"></i>
                </a>
                <a href="https://dribbble.com/flatfull" class="btn btn-icon btn-social rounded btn-sm">
                    <i class="fa fa-dribbble"></i>
                    <i class="fa fa-dribbble pink"></i>
                </a>
            </div>
        </div>
        <div class="b b-b"></div>
        <div class="p-a-md">
            <div class="row footer-bottom">
                <div class="col-sm-8">
                    <small class="text-muted">&copy; Copyright 2015. All rights reserved.</small>
                </div>
                <div class="col-sm-4">
                    <div class="text-sm-right text-xs-left">
                        <strong>Flatkit</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>