<header ui-include="'client/views/parts/header.html'"></header>
<div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="navbar">
        <div class="pull-center">
            <div ui-include="'client/views/blocks/navbar.brand.html'"></div>
        </div>
    </div>
    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
        <form name="rpCt.resetPassForm" ng-submit="signup(rpCt.resetPassForm,user)">
            <div class="md-form-group">
                <input type="password" class="md-input" ng-model="oldPassword" required>
                <label>Old Password</label>
            </div>
            <div class="md-form-group">
                <input type="password" class="md-input" ng-model="newPassword" required>
                <label>New Password</label>
            </div>
            <button type="submit" class="btn primary btn-block p-x-md">Change</button>
        </form>
    </div>


</div>
